@{
    ViewBag.Title = "Contoso University Data";
}

<div class="jumbotron">
    <h1>Contoso University Data</h1>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Getting started</h2>
        <p>
            Using MVC, Entity Framework, and ASP.NET Scaffolding, you can create a web application that provides an interface to an existing database. This tutorial series shows you how to automatically generate code that enables users to display, edit, create, and delete data that resides in a database table. The generated code corresponds to the columns in the database table. In the last part of the series, you will deploy the site and database to Azure.
        </p>
    </div>
</div>